<% @products.each do |product| %>
  <section class="product">
    <div class="image">
        <%= main_image(product) %>
    </div>
    <div class="summary">
      <h2><%= product.name %></h2>
      <h3><%= price(product) %></h3>
      <%= button_to "Add to cart", add_to_cart_path(product_id: product.id),
       method: :post, class: "btn btn-outline-dark", data: { turbo_frame: "cart_count" } %>
    </div>  
  </section>
<% end %>
